/*Base Styles -- Flexbox Styles in seperate CSS Doc*/
* {
    font-family: 'Nunito', sans-serif;
}

body {  
    margin: auto;
  
}

h1 {
    background-color: rgb(230, 228, 228);
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 20px;
}

legend
 {
    font-size: 20px;
    border-top: ridge 2px red;
    width: 100%
    padding: 10px 0;
}

.header {
    text-align: center;
   
}

input[type="text"],
input[type="tel"], 
select {
    background-color: rgb(230, 228, 228);
    border: 1px solid cyan;
    border-radius: 5px;
    padding: 15px 0;
    margin: 20px
}

input[type="checkbox"],
input[type="radio"] {
    margin: 10px;

}


input:focus {
    background-color: cyan;

}

input[type="button"] {
    cursor: pointer;
}


fieldset {
    border: 0;
    padding: 0;
}


button {
    color: white;
    width: 100%;
    padding: 15px 100px;
    background-color: cyan;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

textarea {
    width: 100%;
    border-style: dotted;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;

}

footer {
margin: 20px
}

