/*Flexbox Styles*/

footer,
fieldset
{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}


.contact {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px){

    footer,
    fieldset
    {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
    }

    .contact {
        display: flex;
        flex-direction: row;
    }

    label {
        align-self: center;
        flex-grow: 1;
    }

    input[type="text"],
    input[type="tel"], 
    input[type="email"], 
    select{
        align-self: center;
        width: 80%;
    }
}   



/*Base Styles -- Flexbox Styles in seperate CSS Doc*/


* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {  
    margin: auto;
}

h1 {
    background-color: rgb(230, 228, 228);
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
    font-size: 40px;
}

fieldset {
    margin: 5%;
}

div {
    width: 100%;

}

p {
    font-size: 20px;
}

.header {
    text-align: center;
   
}

legend
 {
    background-color: salmon;
    border-radius: 15px;
    font-size: 30px;
    border: none;
    width: 100%;
    padding: 10px;
}


.fscontact,
.fsnews {
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
    border: none;
}

input[type="text"],
input[type="tel"], 
input[type="email"], 
select {
    background-color: white;
    border: 2px solid salmon;
    border-radius: 5px;
    padding: 15px 0;
    margin: 20px 0;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 10px;

}

::placeholder {
    text-align: right;
    padding-right: 10px;
}

.centerselect {
    text-align: center;
}

input:focus {
    background-color: rgba(0, 255, 255, 0.63);
    transition-duration: .5s;
}


fieldset {
border: 0;

}

button {
    width: 90%;
    margin: 20px auto;
    border-style: double;
    background-color: salmon;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
}

button:hover {
    background-color: rgb(255, 230, 0);
    transition-duration: .5s;
}

button:active {
    background-color: rgba(0, 255, 255, 0.63);
    transition-duration: .5s;
}
textarea {
    width: 90%;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

footer {
margin: 20px
}




