/*Want to include Anaglyph at some point*/

* {
    font-family: 'Nunito', sans-serif;
}

body {  
    margin: auto;
  
}

h1 {
    background-color: grey;
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
}

input[type="text"] {
    background-color: rgb(212, 212, 212);
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
}

input[type="select"] {
    background-color: rgb(212, 212, 212);
    border: 1px solid mediumaquamarine;
    border-radius: 5px;

}

fieldset {
    border: 0;
}

button {
    max-width: 300px;
    padding: 15px 100px;
    background-color: mediumaquamarine;
    border-radius: 10px;
}




@media (min-width: 1025px){


}