/*Flexbox Styles*/

form,
footer {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
}

input,
select,
footer,
legend {
    align-self: center;
}
 div {
    width: 100%;

 }

 label {
    flex: 1;
 }

 input {
     flex: ;
 }

@media (min-width: 768px){

    form {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        }

    div {
        flex-basis: ;
    }
}