/*Flexbox Styles*/

form,
footer {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
}

div {
    width: 100%;
 }



@media (min-width: 768px){

    form,
    footer {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center; 
    }
    
    h2,
    p {
        align-self: center;
    
    }
    
    div {
        width: 100%;
    
     }
}