/*Want to include Anaglyph at some point*/

* {
    font-family: 'Nunito', sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
    

}

@media (min-width: 1025px){


}