/* ============================================ */
/*                Media Queries                 */
/* ============================================ */


@media (min-width: 768px){

    footer,
    fieldset
    {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
    }

    .contact {
        display: flex;
        flex-direction: row;
    }

    label {
        align-self: center;
        flex-grow: 1;
    }

    label[for="zip"] {
        flex-grow: 0;
        margin-right: 75%;
    }

    input[type="text"],
    input[type="tel"], 
    input[type="email"], 
    select{
        align-self: center;
        width: 80%;
    }

    input[id="zip"] {
       max-width: 25%;
    }


    h1{
        font-size: 4rem;
    }
}   